In [1]:
# user input
name = input()

Bhuvnesh Jain

In [2]:
type(name)

str

In [3]:
course = input("Enter Your Course Name : ")

Enter Your Course Name : B.Tech CSE

In [4]:
age = int(input())

21

In [5]:
pass_year = int(input("Please Enter Your Passing Year : "))

Please Enter Your Passing Year : 2023

In [6]:
type(age)

int

In [7]:
condition = input()

True

In [8]:
type(condition)

str

In [9]:
marks = input("Enter Your Marks : ")

Enter Your Marks : 88

In [10]:
type(marks)

str

In [11]:
percentage = input('Plz Enter % : ')

Plz Enter % : 88.50

In [12]:
type(percentage)

str

In [14]:
percentage

'88.50'

In [16]:
marks

'88'

In [23]:
a = int(marks) # convert String into Int and Store in (a) variable

In [24]:
a  # it contain int value

88

In [25]:
type(a) # type of a is int

int

In [26]:
a + 2 # when the value of a is int then we can perform arithmetic operation.

90

In [28]:
exact = float(input("Enter Floating value : "))
exact + 2

Enter Floating value : 88.50

90.5

In [29]:
value = float(input("Enter any value: "))
value+1

Enter any value: 25

26.0

In [30]:
type(value)

float

In [31]:
9.6-7.2

2.3999999999999995

In [32]:
9.6-7.1

2.5

In [33]:
9.6-7.3

2.3

In [34]:
9.6-7.4

2.1999999999999993

In [35]:
9.6-7.5

2.0999999999999996

In [36]:
9.6-7.6

2.0

In [37]:
9.6-7.7

1.8999999999999995

In [38]:
round(9.6-7.7)

2

In [39]:
round(9.6-7.5)

2

In [40]:
round(9.6-7.1)

2

In [41]:
round(9.6-7.1,2)

2.5

In [42]:
round(9.6-7.7,2)

1.9

In [46]:
round(9.6-7.4,2)

2.2

In [47]:
totallist = []
for i in range(6):
    totallist.append(input("Enter Names : "))

Enter Names : Bhuvnesh Jain
Enter Names : Prachi Sharma
Enter Names : Riya Thakur
Enter Names : Shruti Jaiswal
Enter Names : Samyak Jain
Enter Names : Anjali Singh

In [48]:
totallist

['Bhuvnesh Jain',
 'Prachi Sharma',
 'Riya Thakur',
 'Shruti Jaiswal',
 'Samyak Jain',
 'Anjali Singh']

In [49]:
type(totallist)

list

In [51]:
items = []
for i in range(5):
    items.append(input(f"Enter Fruit {i+1}: "))

Enter Fruit 1: Mango
Enter Fruit 2: Banana
Enter Fruit 3: Grapes
Enter Fruit 4: Orange
Enter Fruit 5: Papaya

In [52]:
items

['Mango', 'Banana', 'Grapes', 'Orange', 'Papaya']

In [53]:
items.index('Banana') #Return index number whatever value pass in the arguments

1

In [54]:
items.insert(3,'Chilli') #Insert the value at the specific index , 
                         #passing the index 
                         #and values what we want to insert

In [55]:
items

['Mango', 'Banana', 'Grapes', 'Chilli', 'Orange', 'Papaya']

In [56]:
len(items) #Return the total no. oe elements exists in the list

6

In [57]:
items.count('Mango') #count the no. of values and return it by 
                    #passing the value what we want to retuen

1

In [58]:
for i in items:
    print(i)

Mango
Banana
Grapes
Chilli
Orange
Papaya

In [59]:
for i in totallist:
    print(i)

Bhuvnesh Jain
Prachi Sharma
Riya Thakur
Shruti Jaiswal
Samyak Jain
Anjali Singh

In [60]:
for i in range(len(items)):
    print(i)

0
1
2
3
4
5

In [61]:
for i in range(len(items)):
    print(items)

['Mango', 'Banana', 'Grapes', 'Chilli', 'Orange', 'Papaya']
['Mango', 'Banana', 'Grapes', 'Chilli', 'Orange', 'Papaya']
['Mango', 'Banana', 'Grapes', 'Chilli', 'Orange', 'Papaya']
['Mango', 'Banana', 'Grapes', 'Chilli', 'Orange', 'Papaya']
['Mango', 'Banana', 'Grapes', 'Chilli', 'Orange', 'Papaya']
['Mango', 'Banana', 'Grapes', 'Chilli', 'Orange', 'Papaya']

In [63]:
for i in range(len(items)):
    print(items[i])

Mango
Banana
Grapes
Chilli
Orange
Papaya

In [68]:
for j in totallist:
    print(j,totallist.index(j)+1)

Bhuvnesh Jain 1
Prachi Sharma 2
Riya Thakur 3
Shruti Jaiswal 4
Samyak Jain 5
Anjali Singh 6

In [71]:
print(*items,sep='-')

Mango-Banana-Grapes-Chilli-Orange-Papaya

In [78]:
for i in totallist:
    print(i,end=' -- ')

Bhuvnesh Jain -- Prachi Sharma -- Riya Thakur -- Shruti Jaiswal -- Samyak Jain -- Anjali Singh --

In [85]:
for i in items:
    if i.startswith('B'):
        print(f"This fruit is start with B : {i}")
    else:
        print(f"Does not start with B : {i} and index is {items.index(i)+1}")

Does not start with B : Mango and index is 1
This fruit is start with B : Banana
Does not start with B : Grapes and index is 3
Does not start with B : Chilli and index is 4
Does not start with B : Orange and index is 5
Does not start with B : Papaya and index is 6

In [87]:
for i in items:
    if i.startswith('O'):
        print(f"This fruits : {items}")

This fruits : ['Mango', 'Banana', 'Grapes', 'Chilli', 'Orange', 'Papaya']

In [88]:
for i in items:
    if i.startswith('O'):
        print(f"This fruits : {items.index(i)}")

This fruits : 4

In [89]:
l1 = [True,False,42,55.88,\
      [1,2,3,4,5,6,7,8,9],{'name':'Bhuvnesh Jain'},(5,5.6,6.8),{1,2,4,6}]

In [90]:
l1

[True,
 False,
 42,
 55.88,
 [1, 2, 3, 4, 5, 6, 7, 8, 9],
 {'name': 'Bhuvnesh Jain'},
 (5, 5.6, 6.8),
 {1, 2, 4, 6}]

In [91]:
for eachitems in l1:
    print(eachitems)

True
False
42
55.88
[1, 2, 3, 4, 5, 6, 7, 8, 9]
{'name': 'Bhuvnesh Jain'}
(5, 5.6, 6.8)
{1, 2, 4, 6}

In [94]:
for eachitems in l1:
    print(l1.index(eachitems))

0
1
2
3
4
5
6
7

In [98]:
for i,j in enumerate(l1): # it retuns the value in key-pair
    print(i,j)            #format means index and value

0 True
1 False
2 42
3 55.88
4 [1, 2, 3, 4, 5, 6, 7, 8, 9]
5 {'name': 'Bhuvnesh Jain'}
6 (5, 5.6, 6.8)
7 {1, 2, 4, 6}

In [102]:
for key,value in enumerate(l1):
    print(key+1,value)

1 True
2 False
3 42
4 55.88
5 [1, 2, 3, 4, 5, 6, 7, 8, 9]
6 {'name': 'Bhuvnesh Jain'}
7 (5, 5.6, 6.8)
8 {1, 2, 4, 6}

In [103]:
for i in range(len(l1)):
    print(i)

0
1
2
3
4
5
6
7

In [106]:
for i in range(len(l1)):
    print(l1[i])

True
False
42
55.88
[1, 2, 3, 4, 5, 6, 7, 8, 9]
{'name': 'Bhuvnesh Jain'}
(5, 5.6, 6.8)
{1, 2, 4, 6}

In [107]:
for i in enumerate(l1):
    print(i)

(0, True)
(1, False)
(2, 42)
(3, 55.88)
(4, [1, 2, 3, 4, 5, 6, 7, 8, 9])
(5, {'name': 'Bhuvnesh Jain'})
(6, (5, 5.6, 6.8))
(7, {1, 2, 4, 6})

In [108]:
for i in enumerate(l1):
    print(i,type(i))

(0, True) <class 'tuple'>
(1, False) <class 'tuple'>
(2, 42) <class 'tuple'>
(3, 55.88) <class 'tuple'>
(4, [1, 2, 3, 4, 5, 6, 7, 8, 9]) <class 'tuple'>
(5, {'name': 'Bhuvnesh Jain'}) <class 'tuple'>
(6, (5, 5.6, 6.8)) <class 'tuple'>
(7, {1, 2, 4, 6}) <class 'tuple'>

In [109]:
for i,j in enumerate(l1):
    print(i,j,type(j))

0 True <class 'bool'>
1 False <class 'bool'>
2 42 <class 'int'>
3 55.88 <class 'float'>
4 [1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>
5 {'name': 'Bhuvnesh Jain'} <class 'dict'>
6 (5, 5.6, 6.8) <class 'tuple'>
7 {1, 2, 4, 6} <class 'set'>

In [111]:
for i,j in enumerate(l1):
    print(j)

True
False
42
55.88
[1, 2, 3, 4, 5, 6, 7, 8, 9]
{'name': 'Bhuvnesh Jain'}
(5, 5.6, 6.8)
{1, 2, 4, 6}

In [112]:
for i,j in enumerate(l1):
    if type(j)==int:
        print(f"This is integer : {j}")

This is integer : 42

In [113]:
for i,j in enumerate(l1):
    if type(j)==bool:
        print(f"This is Boolean : {j}")
    else:
        print(f"It is not Boolean : {j}")

This is Boolean : True
This is Boolean : False
It is not Boolean : 42
It is not Boolean : 55.88
It is not Boolean : [1, 2, 3, 4, 5, 6, 7, 8, 9]
It is not Boolean : {'name': 'Bhuvnesh Jain'}
It is not Boolean : (5, 5.6, 6.8)
It is not Boolean : {1, 2, 4, 6}

In [115]:
for i,j in enumerate(l1):
    if type(j)==bool:
        print(f"This is Boolean : {j}")
    elif type(j)==int:
        print(f"It is Integer : {j}")
    elif type(j)==tuple:
        print(f"It is Tuple : {j}")
    elif type(j)==set:
        print(f"It is Set : {j}")
    elif type(j)==list:
        print(f"It is List : {j}")
    elif type(j)==float:
        print(f"It is Float : {j}")
    else:
        print(f"It is Dictionary : {j}")

This is Boolean : True
This is Boolean : False
It is Integer : 42
It is Float : 55.88
It is List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
It is Dictionary : {'name': 'Bhuvnesh Jain'}
It is Tuple : (5, 5.6, 6.8)
It is Set : {1, 2, 4, 6}

In [118]:
for i,j in enumerate(l1):
    if type(j)==bool:
        print(f"This is Boolean : {j}")
    elif type(j)==int:
        print(f"It is Integer (add 2) : {j+2}")
    elif type(j)==tuple:
        print(f"It is Tuple (find max): {max(j)}")
    elif type(j)==set:
        print(f"It is Set (find min) : {min(j)}")
    elif type(j)==list:
        print(f"It is List (find sum) : {sum(j)}")
    elif type(j)==float:
        print(f"It is Float (add 5) : {j+5}")
    else:
        print(f"It is Dictionary (items) : {j.items()}")
        print(f"It is Dictionary (items) : {j.keys()}")
        print(f"It is Dictionary (items) : {j.values()}")

This is Boolean : True
This is Boolean : False
It is Integer (add 2) : 44
It is Float (add 5) : 60.88
It is List (find sum) : 45
It is Dictionary (items) : dict_items([('name', 'Bhuvnesh Jain')])
It is Dictionary (items) : dict_keys(['name'])
It is Dictionary (items) : dict_values(['Bhuvnesh Jain'])
It is Tuple (find max): 6.8
It is Set (find min) : 1

In [120]:
# List Comprehension
[i for i in items]

['Mango', 'Banana', 'Grapes', 'Chilli', 'Orange', 'Papaya']

In [122]:
[f"This is {i}" for i in items]

['This is Mango',
 'This is Banana',
 'This is Grapes',
 'This is Chilli',
 'This is Orange',
 'This is Papaya']

In [124]:
[f"This is : {i}" for i in items if i.startswith('B')]

['This is : Banana']

In [134]:
'-->'.join(items)

'Mango-->Banana-->Grapes-->Chilli-->Orange-->Papaya'

In [136]:
# matrix concept
lst=[
    [1,2,3],
    [3,4,5],
    [5,6,7]
]

In [137]:
lst

[[1, 2, 3], [3, 4, 5], [5, 6, 7]]

In [138]:
lst[0]

[1, 2, 3]

In [139]:
sum(lst[1])

12

In [141]:
[i for i in lst]

[[1, 2, 3], [3, 4, 5], [5, 6, 7]]

In [142]:
[len(i) for i in lst]

[3, 3, 3]

In [143]:
[sum(i) for i in lst]

[6, 12, 18]