In [1]:
print('Bhuvnesh')

Bhuvnesh

In [2]:
name = 'Jain'

In [3]:
name

'Jain'

In [4]:
print('Hey '+name )

Hey Jain

In [5]:
age = 21

In [6]:
country = 'India'

In [7]:
name,age,country

('Jain', 21, 'India')

In [8]:
print(name,age,country)

Jain 21 India

In [11]:
print('My name is',name,'and age is ',age,'. I live in',country)

My name is Jain and age is  21 . I live in India

In [12]:
print('My name is %s and age is %s. I stay in %s'%(name,age,country))

My name is Jain and age is 21. I stay in India

In [13]:
marks = 80.55

In [17]:
print('My name is %s and age is %s. I stay in %s. I got the marks %s'%\
      (name,age,country,marks))

My name is Jain and age is 21. I stay in India. I got the marks 80.55

In [18]:
# format method
print('My name is {} and age is {}. I stay in {}. I got the marks {}'\
      .format(name,age,country,marks))

My name is Jain and age is 21. I stay in India. I got the marks 80.55

In [19]:
print('My name is {} and age is {}. I stay in {}.'\
     .format(name,age,country,marks))

My name is Jain and age is 21. I stay in India.

In [20]:
print('My name is {} and age is {}. I stay in {} and got marks {}'\
     .format(name,age,country)) 
# it throws an error because number of arguments pass in format mathod is not same of {}

IndexError: Replacement index 3 out of range for positional args tuple

In [21]:
print('My name is %s and age is %s and stay in country %s and got marks %s.'\
     %(name,age ,country))
# it also throws an error because number of arguments pass in %() is not same %s

TypeError: not enough arguments for format string

In [22]:
print('My name is %s and age is %s and country is %s'\
     %(name,age,country,marks))
# it also thrown an error becoz %s is not same to pass the arguments

TypeError: not all arguments converted during string formatting

In [23]:
# Positional Argument
print('My name is {0} and age is {1}. I stay in {2} and got marks {3}'\
     .format(name,age,country,marks))

My name is Jain and age is 21. I stay in India and got marks 80.55

In [24]:
print('My name is {2} and age is {1}. I stay in {0} and got marks {3}'\
     .format(name,age,country,marks))

My name is India and age is 21. I stay in Jain and got marks 80.55

In [25]:
# f-string
print(f'') # single quotes is used

In [26]:
print(f"") # Double quotes is used

In [31]:
print(f'My name is {name} and age is {age}. I stay in {country} and got marks\
 {marks}')

My name is Jain and age is 21. I stay in India and got marks 80.55

In [32]:
print(f"My name is {age} and age is {name}. I stay in {country} and got marks\
 {marks}")

My name is 21 and age is Jain. I stay in India and got marks 80.55

In [33]:
print(f"My name is {'Bhuvnesh Jain'} and age is {'21'}. I stay in {'India'}\
and got marks {'90%'}")

My name is Bhuvnesh Jain and age is 21. I stay in Indiaand got marks 90%

In [35]:
print(f'{2+2}')

4

In [37]:
print(f'{"2+2"}')

2+2

In [38]:
print(f"2*5")

2*5

In [39]:
'''

'''

'\n\n'

In [44]:
"""
a
b
c
d
"""

'\na\nb\nc\nd\n'

In [41]:
print(f'''hellp''')

hellp

In [42]:
print(f"""World""")

World

In [55]:
# list
total_list = list()

In [56]:
type(total_list)

list

In [58]:
total_list.append(42)
total_list.append(20)
total_list.append(33)
total_list.append(55)
total_list.append('Bhuvnesh Jain')
total_list.append([4,5,3,7,8])

In [59]:
total_list

[42, 20, 33, 55, 'Bhuvnesh Jain', [4, 5, 3, 7, 8]]

In [60]:
min([4,3,7,8,1]) #return the minimum element of the list

1

In [61]:
max([44,55,22,12,1]) #return the maximum element of the list

55

In [62]:
sum([3,4,5,2,1])

15

In [63]:
# for loop
for x in total_list:
    print(x)

42
20
33
55
Bhuvnesh Jain
[4, 5, 3, 7, 8]

In [64]:
for x in total_list:
    print(x,total_list.index(x))

42 0
20 1
33 2
55 3
Bhuvnesh Jain 4
[4, 5, 3, 7, 8] 5

In [78]:
for i in total_list:
    print(f"Value is : {i} and index is : {(i)}")

Value is : 42 and index is : 42
Value is : 20 and index is : 20
Value is : 33 and index is : 33
Value is : 55 and index is : 55
Value is : Bhuvnesh Jain and index is : Bhuvnesh Jain
Value is : [4, 5, 3, 7, 8] and index is : [4, 5, 3, 7, 8]

In [79]:
for i in range(len(total_list)):
    print(i)

0
1
2
3
4
5

In [80]:
for i in range(len(total_list)):
    print(f"value is {total_list[i]} and index is {i}")

value is 42 and index is 0
value is 20 and index is 1
value is 33 and index is 2
value is 55 and index is 3
value is Bhuvnesh Jain and index is 4
value is [4, 5, 3, 7, 8] and index is 5

In [81]:
# tuple
t = tuple()

In [82]:
type(t)

tuple

In [83]:
t.count(45)

0

In [84]:
len(t)

0

In [85]:
t = (44,55,34,23,32,45,3,4)

In [87]:
t.index(55)

1

In [88]:
t.count(55)

1

In [89]:
len(t)

8

In [91]:
max(t)

55

In [92]:
min(t)

3

In [93]:
sum(t)

240

In [94]:
t

(44, 55, 34, 23, 32, 45, 3, 4)

In [95]:
max(['a','d','c'])

'd'

In [96]:
min(['f','r','a'])

'a'

In [98]:
tu = (4,5.5,[],'Bhuvnesh')

In [99]:
tu

(4, 5.5, [], 'Bhuvnesh')

In [100]:
tu[3]

'Bhuvnesh'

In [101]:
# Dict is also known JSON
a = {
    'Name':'Bhuvnesh Jain',
    'Course':'Python Zero To Hero',
    'Address':'Etah'
}

In [102]:
a

{'Name': 'Bhuvnesh Jain', 'Course': 'Python Zero To Hero', 'Address': 'Etah'}

In [103]:
type(a)

dict

In [104]:
info = {}

In [105]:
type(info)

dict

In [106]:
info['name']='Samyak Jain'

In [107]:
info

{'name': 'Samyak Jain'}

In [108]:
info.update({'Age':21})

In [109]:
info

{'name': 'Samyak Jain', 'Age': 21}

In [110]:
dictionary_ex = a

In [111]:
dictionary_ex

{'Name': 'Bhuvnesh Jain', 'Course': 'Python Zero To Hero', 'Address': 'Etah'}

In [112]:
dictionary_ex is a

True

In [113]:
a is dictionary_ex

True

In [114]:
a == dictionary_ex

True

In [115]:
dictionary_ex == a

True

In [116]:
dictionary_ex.update({'Salary':'$25000'})

In [117]:
dictionary_ex

{'Name': 'Bhuvnesh Jain',
 'Course': 'Python Zero To Hero',
 'Address': 'Etah',
 'Salary': '$25000'}

In [118]:
a

{'Name': 'Bhuvnesh Jain',
 'Course': 'Python Zero To Hero',
 'Address': 'Etah',
 'Salary': '$25000'}

In [119]:
info['Country'] = 'India'

In [120]:
info

{'name': 'Samyak Jain', 'Age': 21, 'Country': 'India'}

In [121]:
info['name']

'Samyak Jain'

In [122]:
b = set()

In [123]:
type(b)

set

In [124]:
c = {}

In [125]:
type(c) # in dictionary values can be duplicated but keys is not duplicated

dict

In [126]:
a.keys()

dict_keys(['Name', 'Course', 'Address', 'Salary'])

In [127]:
a.values()

dict_values(['Bhuvnesh Jain', 'Python Zero To Hero', 'Etah', '$25000'])

In [135]:
for i in a:
    print(i)

Name
Course
Address
Salary

In [137]:
a1 = {(1,2,3,4,5,6,7,8,9,9,8,7,6,5,4,3)}

In [138]:
a1

{(1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3)}

In [139]:
type(a1)

set

In [140]:
s2 = {5,6,7,7,6,5,4,3,2,1}

In [141]:
s2

{1, 2, 3, 4, 5, 6, 7}

In [142]:
s5 = set([2,3,4,5,6,7,8,7,6,5,4,3,2,1,1])

In [143]:
s5

{1, 2, 3, 4, 5, 6, 7, 8}

In [144]:
s5.add(10)

In [145]:
s5.add(10)

In [146]:
s5.add(10)

In [147]:
s5

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [149]:
d1 = {}

In [150]:
d1['name'] = 'Bhuvensh'

In [151]:
d1

{'name': 'Bhuvensh'}

In [152]:
d1['address'] = 'Tundla'

In [153]:
d1

{'name': 'Bhuvensh', 'address': 'Tundla'}

In [155]:
d2 = dict(name='Samy')

In [156]:
d2

{'name': 'Samy'}

In [158]:
info

{'name': 'Samyak Jain', 'Age': 21, 'Country': 'India'}

In [159]:
info['marks']

KeyError: 'marks'

In [160]:
info.get('marks','It does not exist')

'It does not exist'

In [164]:
info.get('name')

'Samyak Jain'

In [167]:
for key,values in info.items():
    print(key,values)

name Samyak Jain
Age 21
Country India

In [168]:
info.items()

dict_items([('name', 'Samyak Jain'), ('Age', 21), ('Country', 'India')])

In [169]:
for keys in info:
    print(keys)

name
Age
Country

In [170]:
for keys in info.items():
    print(keys)

('name', 'Samyak Jain')
('Age', 21)
('Country', 'India')

In [171]:
for keys in info:
    print(keys)

name
Age
Country

In [174]:
for values in info.values():
    print(values)

Samyak Jain
21
India

In [173]:
info

{'name': 'Samyak Jain', 'Age': 21, 'Country': 'India'}

In [175]:
# id
id(info)

2618386172672

In [176]:
id(a)

2618385897728

In [177]:
id(dictionary_ex) # id means address or location of particular variable in a memory

2618385897728