In [1]:
# functions
def introduction(name,age,course):
    print(f"Hello {name}")
    print("Welcome To My Python Function")
    print(f"I am {name} and my age is {age} years old.")
    print(f"I Chosse the course {course}")

In [2]:
print(type(introduction))

<class 'function'>

In [4]:
# calling the function
introduction('Bhuvnesh',21,'B.tech CSE AI+ML+DL')

Hello Bhuvnesh
Welcome To My Python Function
I am Bhuvnesh and my age is 21 years old.
I Chosse the course B.tech CSE AI+ML+DL

In [8]:
def lst(l):
    for i in l:
        print(f"My name is : {i}")

In [9]:
l1 = ['Samyak','Sonu','Prachi','Riya','Shivani']
lst(l1) #calling the function

My name is : Samyak
My name is : Sonu
My name is : Prachi
My name is : Riya
My name is : Shivani

In [12]:
def num(l):
    print(f"Sum of List {l} is {sum(l)}")
    print(f"Max No. in the List {l} is {max(l)}")
    print(f"Min No. in the List {l} is {min(l)}")

In [13]:
num([1,2,3,4,5])

Sum of List [1, 2, 3, 4, 5] is 15
Max No. in the List [1, 2, 3, 4, 5] is 5
Min No. in the List [1, 2, 3, 4, 5] is 1

In [14]:
def var():
    a = "Python Zero To Hero"
    print(f"My Program is : {a}")

In [15]:
var()

My Program is : Python Zero To Hero

In [16]:
def s1(l):
    print(f"Sum Of List {l} is {sum(l)}")

In [17]:
s1([1,2,3,4,5,6,7,8,9,10])

Sum Of List [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] is 55

In [18]:
lst1 = [1,2,3,4,5,6,7]
s1(lst1)

Sum Of List [1, 2, 3, 4, 5, 6, 7] is 28

In [20]:
sum1 = s1(lst1)

Sum Of List [1, 2, 3, 4, 5, 6, 7] is 28

In [21]:
print(sum1)

None

In [23]:
# Define a function with return (it does not throw None)
def s2(l):
    return sum(l)

In [24]:
s2([11,22,33])

66

In [25]:
print(s2)

<function s2 at 0x000001F93BC02670>

In [26]:
a1 = s2([2,3,4])

In [27]:
print(a1)

9

In [28]:
ls = [22,33,44]
print(ls)

[22, 33, 44]

In [29]:
s2(ls)

99

In [30]:
lst3 = s2(ls)

In [31]:
print(lst3)

99

In [32]:
print(lst3*2)

198

In [34]:
# Without Return
def intro_wo_return(name,age,location):
    print(name,age,location)

In [35]:
intro_wo_return('Samyak',21,'Tundla')

Samyak 21 Tundla

In [37]:
a22 = intro_wo_return('Miss Prachi',19,'Dauji')
print(a22)

Miss Prachi 19 Dauji
None

In [38]:
# With Return
def intro_w_return(name,age,location):
    return name,age,location

In [39]:
intro_w_return('Riya',18,'Kanpur')

('Riya', 18, 'Kanpur')

In [41]:
a33 = intro_w_return('Shruti',17,'Postal')
print(a33)

('Shruti', 17, 'Postal')

In [43]:
# Unpacking
n,a,l = a33
print(n)
print(a)
print(l)

Shruti
17
Postal

In [44]:
n,a,l = intro_w_return('Riya',18,'Kanpur')
print(n)
print(a)
print(l)

Riya
18
Kanpur

In [45]:
def add_1(a):
    return a+a

In [49]:
items = [1,2,3,4,5,6,7,8]
for eachitems in items:
    print(f"Original elements are {eachitems} and add its own value\
    in these items ::: {add_1(eachitems)}")

Original elements are 1 and add its own value    in these items ::: 2
Original elements are 2 and add its own value    in these items ::: 4
Original elements are 3 and add its own value    in these items ::: 6
Original elements are 4 and add its own value    in these items ::: 8
Original elements are 5 and add its own value    in these items ::: 10
Original elements are 6 and add its own value    in these items ::: 12
Original elements are 7 and add its own value    in these items ::: 14
Original elements are 8 and add its own value    in these items ::: 16

In [54]:
def add_2(a):
    return a+2

In [55]:
items1 = [1,2,3,4,5,6,7,8]
for eachitems in items1:
    print(f"Original elements are {eachitems} and add 2 in these items \
    ::: {add_2(eachitems)}")

Original elements are 1 and add 2 in these items     ::: 3
Original elements are 2 and add 2 in these items     ::: 4
Original elements are 3 and add 2 in these items     ::: 5
Original elements are 4 and add 2 in these items     ::: 6
Original elements are 5 and add 2 in these items     ::: 7
Original elements are 6 and add 2 in these items     ::: 8
Original elements are 7 and add 2 in these items     ::: 9
Original elements are 8 and add 2 in these items     ::: 10

In [57]:
print(f"Add 65+2 : {add_2(65)}")

Add 65+2 : 67

In [58]:
def introduce(Greet):
    return f"{Greet} sir ! Have a Nice Day"

In [59]:
introduce('Good Morning')

'Good Morning sir ! Have a Nice Day'

In [60]:
print(introduce('Samyak'))

Samyak sir ! Have a Nice Day

In [63]:
a12 = introduce('Bhuvi')
print(a12)

Bhuvi sir ! Have a Nice Day

In [64]:
# while loop
a = 0
while a<10:
    print(a)
    a = a+1

0
1
2
3
4
5
6
7
8
9

In [65]:
a = 0
while a<10:
    print(a)
    a+=2

0
2
4
6
8

In [66]:
a = 20
while a>0:
    print(a)
    a-=2

20
18
16
14
12
10
8
6
4
2

In [67]:
# lambda function
x = lambda a:a*5
print(x)

<function <lambda> at 0x000001F93BB1EB80>

In [68]:
print(x(2)) #lambda can take any no. of arguments but have only one expression

10

In [69]:
x(4) #lambda arguments: expression

20

In [70]:
y = lambda a,b,c : a+b+c
print(y)

<function <lambda> at 0x000001F93BC27310>

In [71]:
print(y(2,3,4))

9

In [72]:
# lamda function is anonymous function
def func(n):
    return lambda a:a*n

In [73]:
print(func(n))

<function func.<locals>.<lambda> at 0x000001F93BC273A0>

In [79]:
my1 = func(2)
print(my1)

<function func.<locals>.<lambda> at 0x000001F93BC271F0>

In [80]:
my2 = my1(3)
print(my2)

6

In [121]:
row = 5
for i in range(0,row):
    for j in range(0,i+1):
        print("*",end=" ")
    print('\r')

*
* *
* * *
* * * *
* * * * *

In [127]:
row = 5
for i in range(0,row):
    for j in range(i,row):
        print("*",end=" ")
    print('\r')

* * * * *
* * * *
* * *
* *
*

In [140]:
row = 5
for i in range(1,row+1):
    for j in range(0,i):
        print(i,end=" ")
    print("\r")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [141]:
row = 5
for i in range(1,row+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print("\r")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [144]:
row = 5
for i in range(1,row+1):
    for j in range(i,row+1):
        print(i,end=" ")
    print('\r')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [147]:
row = 5
for i in range(1,row+1):
    for j in range(i,row+1):
        print(j,end=" ")
    print('\r')

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5