In [1]:
# function

def add_2(a):
    return a+2

In [2]:
# calling 

add_2(3)

5

In [3]:
print(add_2(4))

6

In [4]:
# lambda is a one line code of function and we define function by using lambda
# keyword

y = lambda a:a+5
y(3)

8

In [5]:
print(y(5))

10

In [6]:
y

In [7]:
print(y)

<function <lambda> at 0x000001FA0AF1E8B0>

In [8]:
def sum_list(a):
    return sum(a)

sum_list([1,2,3,4,5])

15

In [9]:
print(sum_list([2,3,4]))

9

In [12]:
sum_list_lambda = lambda a:sum(a)

sum_list_lambda([2,4,5])

11

In [13]:
print(sum_list_lambda([3,2,5]))

10

In [14]:
# list comprehension

for i in [1,2,3,4]:
    print(f"No. is {i}")

No. is 1
No. is 2
No. is 3
No. is 4

In [15]:
[f"No. is {i}" for i in [1,2,3,4,5]] #It Return in List Format

['No. is 1', 'No. is 2', 'No. is 3', 'No. is 4', 'No. is 5']

In [16]:
lst = [f"No. is {i}" for i in [1,2,3,4,5]]
print(lst)

['No. is 1', 'No. is 2', 'No. is 3', 'No. is 4', 'No. is 5']

In [17]:
for i in [1,2,3,4,5,6,7,8,9]:
    if (i%2==0):
        print(f"Table of Two Is : {i}")

Table of Two Is : 2
Table of Two Is : 4
Table of Two Is : 6
Table of Two Is : 8

In [20]:
[f"Table of Two Is : {i}" for i in [1,2,3,4,5,6,7,8,9,0] if (i%2==0)]

['Table of Two Is : 2',
 'Table of Two Is : 4',
 'Table of Two Is : 6',
 'Table of Two Is : 8',
 'Table of Two Is : 0']

In [21]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if (i%3==0):
        print(f"Table of 3 is : {i}")
    else:
        print(f"It is Not the Table of 3 : {i}")

It is Not the Table of 3 : 1
It is Not the Table of 3 : 2
Table of 3 is : 3
It is Not the Table of 3 : 4
It is Not the Table of 3 : 5
Table of 3 is : 6
It is Not the Table of 3 : 7
It is Not the Table of 3 : 8
Table of 3 is : 9
It is Not the Table of 3 : 10

In [22]:
[f"Table of 3 {i}" if (i%3==0) else f"Not of 3 {i}" for i in range(10)]

['Table of 3 0',
 'Not of 3 1',
 'Not of 3 2',
 'Table of 3 3',
 'Not of 3 4',
 'Not of 3 5',
 'Table of 3 6',
 'Not of 3 7',
 'Not of 3 8',
 'Table of 3 9']

In [31]:
def iterate_over_dict(a):
    for key,value in a.items():
        print(f"This is the {key} and its value is {value}")

In [32]:
intro = {
    'Name':'Bhuvnesh Jain',
    'Course':'Python Zero To Hero',
    'Language':{'English', 'Hindi'},
    'Location':'India'
}

In [33]:
intro

{'Name': 'Bhuvnesh Jain',
 'Course': 'Python Zero To Hero',
 'Language': {'English', 'Hindi'},
 'Location': 'India'}

In [34]:
iterate_over_dict(intro)

This is the Name and its value is Bhuvnesh Jain
This is the Course and its value is Python Zero To Hero
This is the Language and its value is {'English', 'Hindi'}
This is the Location and its value is India

In [37]:
def iterate_over_dict(a):
    for value in a.values():
        print(f"its value is {value}")

In [38]:
iterate_over_dict(intro)

its value is Bhuvnesh Jain
its value is Python Zero To Hero
its value is {'English', 'Hindi'}
its value is India

In [39]:
def iterate_over_dict(a):
    for keys in a.keys():
        print(f"its value is {keys}")

In [41]:
iterate_over_dict(intro)

its value is Name
its value is Course
its value is Language
its value is Location

In [43]:
def iterate_over_dict(a):
    for items in a:
        print(f"its value is {items}")

In [44]:
iterate_over_dict(intro)

its value is Name
its value is Course
its value is Language
its value is Location

In [47]:
lst1 = "20 30 40 50"
lst1.split()

['20', '30', '40', '50']

In [48]:
print(lst1)

20 30 40 50

In [49]:
lst1.isdigit()

False

In [50]:
print(lst1.isdigit())

False

In [65]:
lst2 = "22"
lst2.isdigit()

True

In [66]:
lst3 = "-33"
lst3.isdigit()

False

In [69]:
x1 = ['a','b','c','A','B','C']
x1.sort()

In [70]:
x1

['A', 'B', 'C', 'a', 'b', 'c']

In [71]:
print(x1.sort())

None

In [72]:
import django as dj

In [73]:
print(dj.__version__)

3.2.7